
<h1> Welcome to  Telephone Dictionary</h1><br>
Enter Telephone Number : <input type="text" maxlength="10" minlength="7" [(ngModel)]="phoneno">
<button class="btn btn-primary"  (click)="getPhoneSuggestions(phoneno,1)">Suggestions</button>
<div class="container" *ngIf="showerror">Invalid Phone Number(only 7 digit (without area code) or 10 digit is allowed</div>
<div class="container" *ngIf="tableCreated" >
  <table class="table table-striped" style="width: 50%">
    <thead>
    <tr>
      <th>Suggested Phone Numbers</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let phonelist of phonedetails['combinations']">
      <td>{{ phonelist }}</td>
    </tr>
    </tbody>
  </table>
  <br>

  <div class="pagination" *ngIf="pagesShown>pagesToShow">
    <a href="#" (click)="getPreviousSetOfPages((pagesShown-pagesToShow),phonedetails['totalPages'],phonedetails['totalRecords'])"> << </a>
  </div>
  <div class="pagination" *ngFor="let page of totalpages">
    <a href="#" (click)="getPhoneSuggestions(phoneno,page)">{{page}}</a>
  </div>
  <div class="pagination" *ngIf="phonedetails['totalPages']>pagesShown">
    <a href="#" (click)="getNextSetOfPages(pagesShown,phonedetails['totalPages'],phonedetails['totalRecords'])"> >> </a>
  </div>
